.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.link {
  text-decoration: none;
  color: #2f80ed;
}

/* Шапка сайта, блок header НАЧАЛО */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  align-items: center;
  position: relative;
  z-index: 0;
  overflow: hidden;
  background-color: #f2f2f2;
}

.logo {
  height: 32px;
  width: 183px;
  background-repeat: no-repeat;
}

.logo_place_header {
  position: absolute;
  z-index: 1;
  left: 64px;
  top: 30px;
  background-image: url('../images/logo_place_header.svg')
}

.header__title {
  margin: 0;
  line-height: 96px;
  max-width: 730px;
  font-size: 102px;
  font-weight: bold;
  position: relative;
  z-index: 1;
  left: 64px;
}

.header__subtitle {
  margin: 0;
  line-height: 25px;
  max-width: 388px;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  z-index: 1;
  left: 64px;
  bottom: 30px;
}

.header__link {
color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  width: 568px;
  height: 568px;
  position: absolute;
  z-index: -1;
  right: 0;
  top: 64px;
  background-color: #2f80ed;
}
/* Шапка сайта, блок header КОНЕЦ */


/* Основное содержимое страницы, блок content НАЧАЛО */
/* Секция, блок description НАЧАЛО */
.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  color: #2f80ed;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  min-width: 784px;
  width: 80%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  margin: 0 0 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}
/* Секция, блок description КОНЕЦ */


/* Секция, блок digits НАЧАЛО */
.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  margin: 0;
}

.section-subtitle {
  width: 60%;
  margin: 20px 0 0;
  line-height: 34px;
  font-weight: normal;
  font-size: 24px;
  text-align: center;
}

.table {
  display: flex;
  flex-flow: row wrap;
  width: 1100px;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0;
}
/* Секция, блок digits КОНЕЦ */


/* Секция, блок feynman НАЧАЛО */
.feynman{
  height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2 url('../images/feynman.png');
  position: relative;
  background-position: left bottom;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  margin: 0;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  text-align: center;
  margin: 100px 0 0;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px 0 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  right: 48px;
}
/* Секция, блок feynman КОНЕЦ */


/* Секция, блок kaufman НАЧАЛО */
.kaufman{
padding-top: 90px;
display: flex;
flex-direction: column;
align-items: center;
position: relative;
overflow: hidden;
background-color:  #1f1f1f;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url('../images/kaufman-triangle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  right: -210px;
  top: 0px;
}

.section-title_theme_dark {
  color: #fff;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: #fff;
  z-index: 1;
}

.table_theme_dark {
  padding-bottom: 90px;
}

/* элемент с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: #fff;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.table__heading_theme_dark {
  color: #fff;
}

.table__text__theme_dark {
  color: #fff;
}

/* Секция, блок kaufman КОНЕЦ */
/* Основное содержимое страницы, блок content КОНЕЦ */
/* ʕ ◕ ᴥ ◕ ʔ маленький медвежонок удивлен, что я так далеко зашла */

/* Подвал сайта, блок footer НАЧАЛО */
.footer {

}

/* Подвал сайта, блок footer КОНЕЦ */
